<div class="container">
	<p id="notice"><%= notice %></p>


	<p>
	  <strong>Year:</strong>
	  <%= @course.year %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @course.description %>
	</p>
	<p>
	  <strong>Proffessors:</strong>
	  <% @course.users.each do |user| %>
	  	<%= user.email %>
      <% end %>
	</p>

	<%= link_to 'Edit', edit_course_path(@course) %> |
	<%= link_to 'Back', courses_path %>
</div>